@import 'variables/colors';
@import 'variables/breakpoints';

.items-search-input {
  background-color: $wallatest-gray;
  border: 1px solid transparent;
  font-size: .875rem;
  padding: 0 32px 0 44px;
  position: relative;
 
  &:focus {
    background-color: $white;
    border: 1px solid $wallatest-green;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $wallatest-green;
  }
}

.loading-icon {
  height: 120px;
  width: 120px;
}

.footer {
  color: $white;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  position: fixed;
  text-align: center;

  @include sm {
    background: $wallatest-gray;
    padding: 10px;
  }

  @include xl {
    background: $wallatest-gray;
    padding: 10px;
  }
}